body {
	background-color: #68cdd5;
}

.box1 img {
	height: 30px;
}

.box2 {
	width: 225px;
	height: 103px;
	margin: 0 auto;
	padding-top: 80px;
	padding-left: 80px;
}

.box2 img {
	height: 60px;
}

.box3 {
	padding-left: 20px;
	padding-right: 20px;
}

.box3 p {
	color: white;
	text-align: center;
}

.box4 {
	float: left;
	margin-top: 100px;
}

.box4 img {
	height: 45px;
	margin: 0 auto;
    display: block;

}

.box4 p{
	color: white;
}

.box5 {
	float: right;
	margin-top: 97px;
}

.box5 img {
	height: 45px;
	margin: 0 auto;
    display: block;
}

.box5 p{
	color: white;
}
