*{
	padding: 0;
	margin: 0;
}
body{
	font-size: 62.5%;
}

/*header顶部*/
.header{
	position: fixed;
	z-index: 1;
	width: 100%;
}

.header1{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 46px;
	background-color: #5fc0cd;
}

/*按钮*/
.header1 button{
	height: 30px;
	width: 70px;
	border-radius: 4px;
	border: 0;
}

/*找雇主按钮*/
.header1 .but1{
	background-color: #55a8b3;
	color: white;
}

.header1 .but1:hover{
	background-color: white;
	color: #5FC0CD;
}

/*找护工按钮*/
.header1 .but2{
	background-color: #55a8b3;
	color: white;
}

.header .but2:hover{
	background-color: white;
	color: #5FC0CD;
}


/*header里面的地图标*/
.header1 .but3{
	height: 45px;
	width: 45px;
	background-color: #5fc0cd;
	background-image: url(../img/css_sprites.png);
	background-repeat: no-repeat;
	background-position: -8px -10px;
	transform: scale(0.5);/*缩小*/
	position: absolute;
    right: 0px;
}

/*heade2下面的*/

.header2 .menus{
	background-color: white;
	display: flex;
	position: relative;
	align-items: center;
	height: 32px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: 1px solid #E3E7E8;
}

.header2{
	display: flex;
	justify-content: center;
	align-content: center;
	border-bottom: 1px solid #E3E7E8;
	padding-top: 3px;
	padding-bottom: 3px;
	background-color: #FFFFFF;
	
}

/*select下拉框*/
.header2 select{
	border: 0;
	/*-webkit-appearance: none;取消右边箭头*/
	height: 28px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-content: center;
	color: #b4b4b4;
	flex: 1;
	border-right: 1px solid #E3E7E8;
	text-align: center;
    text-align-last: center;/*文字居中*/
}

.header2 select:nth-child(3){
	border: 0;
}


/*中间部分*/

.box{
	padding-top: 78px;
	padding-bottom: 50px;
}

.box1{
	height: 90px;
	border-bottom: 1px solid #e3e7e8;
	display: flex;
	position: relative;
}

.box1 .box-left ul{
	width: 100%;
}

.box1 .box-left{
    padding-left: 30px;
	display: flex;
	flex: 1;
	align-items: center;
	width: 50%;
}

.box1 .box-left i:nth-child(1){
	position: absolute;
	display: block;
	height: 30px;
	width: 30px;
	background-image: url(../img/css_sprites.png);
	background-position: 38px -8px;
	top: 6px;
	left: 0px;
	transform: scale(0.6);
}

.box1 .box-left i:nth-child(2){
	position: absolute;
	display: block;
	height: 30px;
	width: 30px;
	background-image: url(../img/css_sprites.png);
	background-position: 38px 74px;
	top: 55px;
	left: 0px;
	transform: scale(0.6);
}

.box1 .box-left ul{
	list-style: none;
}

.box1 .box-left ul li:nth-child(1){
	display: block;
	padding-bottom: 8px;
	color: #b3b3b3;
	
}

.box1 .box-left ul li:nth-child(2){
	white-space: nowrap;
	padding-bottom: 8px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
}

.box1 .box-left ul li:nth-child(3){
	white-space: nowrap;
	color: #b3b3b3;
}

.box1 .box-right{
	display: flex;
	align-items: center;
	color: #ec6b4a;
	white-space: nowrap;
}

.box1 .box-right .jiantou{
	height: 13px;
	width: 13px;
	border-top: 2px solid #5fc0cd;
	border-right: 2px solid #5fc0cd;
	transform: rotate(45deg);
	margin-right: 15px;
}

/*footer底部*/
.footer{
	display: flex;
    position: absolute;
    background-color: #f8fafb;
    height: 50px;
    width: 100%;
    position: fixed;
    justify-content: center;
    bottom: 0;
}

.footer button{
	border: 0;
	background-color: #f8fafb;
}

.footer .home,.write,.my{
	display: flex;
	align-items: flex-end;
    justify-content: center;
	width: 50px;
	height: 50px;
	flex: 1;
	
}

.footer .home i{
	display: block;
	height: 40px;
	width: 50px;
	background-image: url(../img/css_sprites.png);
	background-position: -70px -9px;
	background-repeat: no-repeat;
	transform: scale(0.6);
}

.footer .home span{
	color: #5fc0cd;
	display: block;
	margin-top: -6px;
}


.footer .write button{
	background-color: #5fc0cd;
    border-radius: 25px;
}


.footer .write i{
	display: block;
	width: 50px;
	height: 50px;
	background-image: url(../img/css_sprites.png);
	background-position: -66px -72px;
	background-color: #5fc0cd;
	border-radius: 25Px;
	background-repeat: no-repeat;
	transform: scale(0.7);
}

.footer .my i{
	    display: block;
    width: 50px;
    height: 40px;
    background-image: url(../img/css_sprites.png);
    background-position: -4px -72px;
    background-repeat: no-repeat;
    transform: scale(0.6);
}

.footer .my span{
	display: block;
	margin-top: -6px;
}






































